@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,400;0,700;1,400&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  margin: 0;
  height: 300px;
}

.swiper-slide {
  border: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: #d9e4dd !important;
}